# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Environment
.env
.venv
env/
venv/
ENV/

# Docker
.docker_data/
db_data/

# OS
.DS_Store
Thumbs.db